header {
  height: calc(400px + 120px);
  width: 100%;
  background-color: #ffaa00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/absurdity.png');
}

.avatar {
  width: 150px;
  height: 150px;
}

.name {
  text-align: center;
}