/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

/*
 * Additional CSS defined below
 */

 :root {
  --font-family-main: "Source Sans 3", sans-serif;
  --font-family-logo: "Bungee", sans-serif;
}

nav span {
  font-family: var(--font-family-logo);
}

.container {
  width: 100%;
  background-color: inherit;
}


/* Responsive design for larger screens */
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    width: 40%;
    margin-top: 150px;
    margin-left: 50px;
  }

  .container {
    width: 60%;
    margin: 30px;
    padding-top: 75px;
  }
}

/* Responsive design for smaller screens */
@media screen and (max-width: 1023px) {
  .main-nav {
    display: none;
  }

  .user-info {
    padding-bottom: 100px;
  }

  .main-header {
    padding-top: 120px;
  }
}