.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
  padding-bottom: 80px;
  padding-top: 50px;
  width: 100%;
}

.new-tweet textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid darkslategray;
  background-color: #f4f1ec;
  outline: none;
  font-family: 'Source Sans 3', sans-serif;
  padding-top: 20px;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  font-family: 'Bungee', sans-serif;
}

.new-tweet button:hover {
  background-color: #2c3b6d;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.counter.invalid {
  color: red;
}

.error-message {
  display: none;
  color: red;
  font-size: large;
  padding: 15px;
  margin: 20px;
  border: 3px solid red;
}